@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

.d-flex {
 display: flex;
 position: relative;
}

#navbar {
  position: fixed;
  top: 0;
  height: 100vh;
  flex: 0 0 auto;
  width: 20%;
  text-align: center;
  color: black;
  background-color: white;
  padding: 20px 10px;
}


#navbar h1 {
  color: black;
  text-align: center;
  font-size: 1.8em;
}

#navbar ul {
  border: none;
  text-align: left;
  padding-top: 30px;
}


#navbar li {
  list-style: none;
  padding: 5px 0px;
  width: 100%;
}


#navbar a {
  color: gray;
  text-decoration: none;
}


#navbar a:hover{ 
  color: black;
  text-decoration: none;
}

.burger-menu {
  display: none;
}

#logo {
  height: auto;
  width: 150px;
}

.background_stretch {
  position: absolute;
  height: 5.5%;
  width: auto;
  right: 0%;
  opacity: 0.75;
  z-index: -1;
} 

.header{
  position: absolute;
  top: 4%;
  text-align: left;
  z-index: 2;
  margin-left: 8px;
}

.header_title {
  font-size: 5em;
  font-family: 'Bebas Neue', cursive;
  color: #000;
  text-shadow: 0 0 3px #FFF;
}
  
.header_subtitle {
  font-size: 1.8em; 
  color: silver; 
  font-family: 'Comfortaa', cursive;
}

#main-doc {
  margin-left: 20%;
}

.main-content {
  position: relative;
  top: 5.5%;
  padding-left: 10px;
  padding-bottom: 10px;
}

section {
  border-radius: 2rem;
  position: relative;

}

.sec-a {
  background: rgb(230, 255, 255, 0.05);
  width: 85%

}

.sec-b {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-b {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-c {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-d {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-e {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-f {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-g {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-h {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-i {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.content {
  padding: 10px 20px;
}

section header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
  text-transform: uppercase;
  color: #FFCB15;
  padding: 3px 0;
}

h4 {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px #000000;
  text-transform: capitalize;
  padding: 2px 0;
}

b {
  text-shadow: 2px 2px 4px #000000;
}

.main-section ul {
  border-left: 5px solid #FFCB15;
  list-style: none;
  padding: 2px 0 2px 5px;
}

p {
  padding: 2px 0;
}

.center {
  display: block;
  margin: auto;
  border: 3px solid #000;
}

@media (max-width: 991px) {
#logo {
  width: 60px;
}

#navbar h1 {
  font-size: 20px;
} 

#navbar li {
  font-size: 10px;
}

.header_title {
  font-size: 30px;
}

.header_subtitle {
  font-size: 10px;
}

.main-section {
    background: rgb(230, 255, 255, 0.1);
    border-radius: 7px;
    font-size: 10px;
  }
  
section header {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}


  section ul {
    padding-left: 5px;
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 10px;
  }

 }
 
@media (max-width: 575px) {
  #navbar {
    display: none;
  }

  #main-doc {
    margin-left: 0;
  }

  .sec-a {
    width: 90%
  }

  .burger-menu {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)), right bottom;
	  -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px); 
    z-index: 4; 
  }

  .burger-menu .d-flex {
    justify-content: space-between;
  }

  #logo {
    filter: invert(1);
    padding: 5px;
  }

  .menu {
    display: none;
    position: absolute;
    padding: 10px;
    width: 100vw;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }

  .menu li {
    list-style: none;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  .menu a{ 
    color: white;
    text-decoration: none;   
  }

  .menu a:hover{ 
    color: #FFCB15;
    text-decoration: none;
  }

  .menu-toggle {
    display: flex;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    width: fit-content;
  }

  .bar {
    width: 30px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
    transition: 0.4s;
  }

  .menu.active {
    display: block;
  }
}
