@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@300&family=Nunito&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  font-family: 'Nunito', sans-serif;
  color: #fff;
  overflow-x: hidden;
}

#navbar {
  position: fixed;
  height: 100%;
  width: 20%;
  
  top: 0px;
  left: 0px;

  color: black;
  background-color: white;
  padding: 75px 0px;
  z-index: 3;
}


#navbar header {
  color: black;
  text-align: center;
  font-size: 1.8em;
  top: 4.5vw;
  position: relative;
}

#navbar ul {
  border: none;
}


#navbar li {
  list-style: none;
  padding: 5px 0px;
  position: relative;
  width: 100%;
  top: 5vw;
}


#navbar a {
  color: gray;
  text-decoration: none;
}


#navbar a:hover{ 
  color: black;
  text-decoration: none;
}

#logo {
position: fixed;
height: auto;
width: 150px;
  
top: 10px;
left: 5vw;
  
z-index: 4;
}


.background_stretch {
  position: relative;
  width: 60%;
  left: 40%;
  opacity: 0.75;
  z-index: -1;
} 

.header{
  position: absolute;
  top: 50%;
  left: 20%;
  text-align: left;
  z-index: 2;
  margin-left: 8px;
}

.header_title {
  font-size: 5em;
  font-family: 'Bebas Neue', cursive;
  color: #000;
  text-shadow: 0 0 3px #FFF;
}
  
.header_subtitle {
  font-size: 1.8em; 
  color: silver; 
  font-family: 'Comfortaa', cursive;
}

#main-doc {
  position: relative;
  top: 0;
  padding: 0;
  left: 20.5%;
}

section {
  border-radius: 2rem;
  position: relative;
}

.sec-a {
  background: rgb(230, 255, 255, 0.05);
  width: 75%

}

.sec-b {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-b {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-c {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-d {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-e {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-f {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-g {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-h {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.sec-i {
  background: rgb(230, 255, 255, 0.05);
  left: 1%;
}

.content {
  padding: 10px 20px;
}

section header {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 40px;
  letter-spacing: 10px;
  font-family: 'Bebas Neue', cursive;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

h3 {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: underline;
  text-transform: uppercase;
  color: #FFCB15;
  padding: 3px 0;
}

h4 {
  font-family: 'Comfortaa', cursive;
  text-shadow: 2px 2px 4px #000000;
  text-transform: capitalize;
  padding: 2px 0;
}

b {
  text-shadow: 2px 2px 4px #000000;
}

ul {
  border-left: 5px solid #FFCB15;
  list-style: none;
  padding: 2px 0 2px 5px;
}

p {
  padding: 2px 0;
}

.center {
  display: block;
  margin: auto;
  border: 3px solid #000;
}



@media (max-width: 800px) {
#logo {
  width: 60px;
  left:10px;
}

#navbar header {
  font-size: 20px;
} 

#navbar li {
  font-size: 10px;
}

.background_stretch {
  left: 43%;
}

.header {
  top: 12%;
  left: 23%;
}

.header_title {
  font-size: 30px;
}

.header_subtitle {
  font-size: 10px;
}


#main-doc {
  margin: 0;
  padding: 0;
}

main-section {
    background: rgb(230, 255, 255, 0.1);
    padding: 0px;
    border-radius: 0;
    margin: auto; 
    font-size: 8px;
  }
  
section header {
  text-transform: uppercase;
  font-size: 20px;
  letter-spacing: 5px;
}


  section ul {
    padding-left: 5px;
    font-size: 10px;
  }

  p {
    font-size: 10px;
  }

  h3 {
    font-size: 10px;
  }

  h4 {
    font-size: 10px;
  }

 }
